.cuerpo{
    text-decoration: none;
    width: 300px;
    color: white;
}

.principal{
    width: 100%;
    padding: 10px;
}
.titulo{
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--text-lemon);
    text-align: center;
    color: var(--color-texto-movie);
}

.imagen{    
    width: 300px;
    height: 180px;
    border-radius: 15px;
}

@media(max-width: 420px){
    .imagen{
        width: 200px;
        height: 120px;

    }
    .titulo{
        width: 200px;
        font-size: .75rem;
    }
}
.imagen:hover{
    background-color: black;
    opacity: .5;
}