<div class="container p-5">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <app-logo></app-logo>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="card">
          <div class="card-header text-center h2" style="background: var(--color-fondo-formulario); color: var(--color-text-form);">
            <strong>Log In</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <form (submit)="signIn()" class="text-center p-3">
                  <div class="form-group text-left">
                    <label for="Email" style="color: var(--color-text-form)">Email:</label>
                    <input type="text" [(ngModel)]="user.email" id="Email" name="email" class="form-control"
                      placeholder="example@gmail.com" minlength="6" required #username="ngModel">
                  </div>
                  <div class="form-group text-left">
                    <label for="Password" style="color: var(--color-text-form)">Password:</label>
                    <input type="password" [(ngModel)]="user.password" id="Password" name="password" class="form-control"
                      placeholder="******" required minlength="6" #password="ngModel">
                  </div>
                  <button type="submit" class="btn btn-block mt-2" style="background: var(--color-btn-form);">
                    Log In
                  </button>
                  <div class="form-group mt-4" style="color: var(--color-text-form);">
                    <p>Aún no tienes una cuenta?<br> Regístrate
                      <a routerLink="/signup" style="color: var(--color-text-form); font-weight: bold;">aquí</a>
                    </p>
                  </div>
                </form>
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <img src="https://d500.epimg.net/cincodias/imagenes/2020/12/31/lifestyle/1609408585_467254_1609408795_noticia_normal.jpg"
                  class="rounded w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  