
<div class="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/peliculas" routerLinkActive="active">Películas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/generos" routerLinkActive="active">Géneros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/usuarios" routerLinkActive="active">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/actores" routerLinkActive="active">Actores</a>
      </li>
    </ul>
</div>