<div class="d-flex">
    <app-navbarlat></app-navbarlat>
    <div class="container mt-5 mb-5" style="background: var(--color-fondo-formulario);">
        <div class="cabecera d-flex justify-content-between mt-2">
            <h1>Peliculas</h1>
            <a routerLink="/admin/peliculas/new"><i class="fa-solid fa-square-plus"
                    style="color: #fff12b; font-size: 3rem;"></i></a>
        </div>
        <div class="search">
            <input type="text" class="form-control mb-2" placeholder="Buscar película" #txtSearch
                (keyup)="onSearchPelicula(txtSearch.value)" />
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">Géneros</th>
                    <th scope="col">Actores</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pelicula of peliculas | filtro:page:search">
                    <th scope="row">{{ pelicula.id}}</th>
                    <td>{{ pelicula.name }}</td>
                    <td>
                        <div class="genero" *ngFor="let genero of generos">
                            <p *ngIf="pelicula.genero.includes(genero.id) || false">{{genero.name}} </p>
                        </div>
                    </td>
                    <td>
                        <div class="actor" *ngFor="let actor of actores">
                            <p *ngIf="pelicula.actores.includes(actor.id) || false">{{actor.name}} </p>
                        </div>
                    </td>
                    <td>
                        <a routerLink="/admin/peliculas/update/{{pelicula.id}}"><i
                                class="fa-solid fa-pen-to-square mr-4" style="color: #376cc8;"></i></a>
                        <a (click)="eliminar(pelicula.id)"><i
                                class="fa-sharp fa-solid fa-trash ml-4" style="color: #cc2424;"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="botones w-100 d-flex justify-content-around">
            <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
            <button class="btn btn-primary" (click)="nextPage()"
                [disabled]="(peliculas | filtro:page:search).length === 0">Siguientes</button>
        </div>
    </div>
</div>